[defaults]
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False # Désactive la vérification de la clé SSH pour une 1ière connexion
inventory = ./Ansible/inventory/host
roles_path = ./roles
#transport = local # Utilise le transport local (car c'est localhost)
# gathering = explicit # Désactive la collection de facts par défaut (optionnel)
ansible_python_interpreter = ~/.ansible-venv/bin/python3 # Ajout de l'interpreteur python via l'environement python dedié (j'ai crée) pour éxécuter ansible,docker
#forcer Ansible à toujours afficher chaque tâche en détail
stdout_callback = yaml
bin_ansible_callbacks = True

[privilege_escalation]
# Configuration pour devenir root
#become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=no #Désactive la réutilisation automatique de connexions SSH ouvertes
#ssh_args = -o StrictHostKeyChecking=no #Accepte automatiquement les nouvelles clés SSH
