[defaults]
# Désactive la vérification de la clé SSH (utile pour localhost)
host_key_checking = False
# Chemin vers le fichier d'inventaire par défaut
inventory = ./inventory.ini
# Chemin vers les rôles Ansible
roles_path = ./roles
# Utilise le transport local (car c'est localhost)
transport = local
# Désactive la collection de facts par défaut (optionnel)
gathering = explicit
ansible_python_interpreter = ~/.ansible-venv/bin/python3


[privilege_escalation]
# Configuration pour devenir root
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# Désactive le contrôle de persistance SSH (gain de performance)
ssh_args = -o ControlMaster=no
